DEFAULT live
TIMEOUT 100
PROMPT 0

LABEL live
    MENU LABEL Try Magic Stick
    KERNEL /casper/vmlinuz
    APPEND boot=live config username=magic hostname=magic_stick locales=fr_FR.UTF-8 keyboard-layouts=fr quiet splash initrd=/casper/initrd ---

LABEL install
    MENU LABEL Install Magic Stick
    KERNEL /casper/vmlinuz
    APPEND boot=live config username=magic hostname=magic_stick locales=fr_FR.UTF-8 keyboard-layouts=fr only-ubiquity quiet splash initrd=/casper/initrd ---

LABEL memtest
    MENU LABEL Test memory
    KERNEL /casper/vmlinuz
    APPEND boot=live config username=magic hostname=magic_stick locales=fr_FR.UTF-8 keyboard-layouts=fr memtest initrd=/casper/initrd ---