set default=0
set timeout=10

menuentry "Try Magic Stick" {
    linux /casper/vmlinuz boot=live config username=magic hostname=magic_stick locales=fr_FR.UTF-8 keyboard-layouts=fr quiet splash ---
    initrd /casper/initrd
}

menuentry "Install Magic Stick" {
    linux /casper/vmlinuz boot=live config username=magic hostname=magic_stick locales=fr_FR.UTF-8 keyboard-layouts=fr only-ubiquity quiet splash ---
    initrd /casper/initrd
}

menuentry "Test memory" {
    linux /casper/vmlinuz boot=live config username=magic hostname=magic_stick locales=fr_FR.UTF-8 keyboard-layouts=fr memtest ---
    initrd /casper/initrd
}