[Desktop Entry]
Type=Application
Name=Magic Stick Welcome
Exec=/usr/local/bin/magic-stick-welcome.sh
Icon=magic-stick
Comment=First-run welcome dialog for Magic Stick
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
